section {
  margin-left: 100px;
}
.btn {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
}

.btn:hover::after {
  animation: shadow 0.8s ease-out;
}

@keyframes shadow {
  0% {
    opacity: 0;
    height: 0;
    width: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    height: 200%;
    width: 200%;
  }
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 18px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #333;
  animation: pulse 2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    transform: scaleX(0.75) scaleY(1.25);
  }
  50% {
    transform: scaleX(1.15) scaleY(0.85);
  }
  65% {
    transform: scaleX(0.95) scaleY(1.05);
  }
  75% {
    transform: scaleX(1.05) scaleY(0.95);
  }
  100% {
    transform: scale(1);
  }
}
